@{
    ViewData["Title"] = "Access Denied";
}

<form>
    <div>
        <h2 class="alert-heading"> Access denied</h2>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go Back</a>
    </div>
</form>